// @import "variables";
@import "normalize";
// @import "mixins";
// @import "base";
// @import "interface";

// @import "modules/backgrounds";
// @import "modules/media";
// @import "modules/tables";
// @import "modules/navigation";

body{
	padding-top: 70px;
}
img {
	width: 200px; 
}
.navbar {
	-webkit-border-radius: 0; 
	border-radius: 0; 
	border: 0px; 
}
footer .navbar-default {
	background: transparent; 
}